<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <a href="https://www.linkedin.com/in/suvesh-sharma-a70861208" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
        <div class="f-info-brand">&copy; Made By Deepanshu</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
